@import 'theme';
@import 'utils';
@import 'topbar';

body {
	margin: 0;
}

.content {
	padding: $body-padding;

	@include respond-to('medium') {
		padding: $body-padding * 2;
	}

	.inner-content {
		max-width: 1200px;
		margin: 0 auto;
	}
}

.content-center {
	min-height: calc(100vh - $topbarHeight - $body-padding * 2 - 1px);

	&.full {
		min-height: 100vh;
	}

	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
