@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$font-family-sans-serif: 'Lato', sans-serif;
$headings-font-family: 'Lato', sans-serif;
$headings-font-weight: 700;
$input-btn-font-family: 'Lato', sans-serif;

/*colors*/
$body-color: #2d3436;
$success: #00b894;
$primary: #00b894;
$black: #2d3436;
$gray: #b2bec3;
$gray-light: #dfe6e9;

@import '~bootstrap/scss/bootstrap';

$body-padding: 20px;

/*SCROLLBAR*/
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 8px $body-bg;
}

::-webkit-scrollbar-thumb {
	background-color: $primary;
}
